@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans:
    "Geist Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-geist-mono:
    "Geist Mono", SF Mono, SF Mono Regular, Consolas, "Liberation Mono", Menlo,
    Courier, monospace;

  --bg-color-dark-blue: #29529b;
  --bg-color-blue: #ced4db;
  --bg-color-yellow: #ffc079;
  --bg-color-cream: #e8e2db;
  --bg-color-brwan: #554d4d;
  --bg-color-mist: #e6dede;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-base-blue-dark: var(--bg-color-dark-blue);
  --color-base-blue: var(--bg-color-blue);
  --color-base-yellow: var(--bg-color-yellow);
  --color-base-cream: var(--bg-color-cream);
  --color-base-brwan: var(--bg-color-brwan);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans); /* استخدام المتغير هنا أفضل */
}
